ul {
  list-style-type: none;
}
.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(20, 20, 20);
  background-color: transparent;
  height: 10vh;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header_container {
  display: flex;
  justify-content: space-between; /* Pushes left and right elements to the edges */
  align-items: center; /* Vertically centers the elements */
  width: 90%;
}

.header_left ul {
  display: flex;
  gap: 25px; /* Adds space between the links */
  align-items: center;
}
.header_right {
  width: 10%;
  display: flex;
  gap: 25px; /* Adds space between the links */
}
